*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}
.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background:#0C1A1A;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: red;
    font-weight: 600;
    transition: 0.3s ease;
}
.logo:hover{
     color: red;
    text-shadow: 0 0 25px red ,
                 0 0 50px wheat; 
    transform: scale(1.1);
}
span{
    color: #ffa586;
}
nav a{
    font-size: 18px;
    color:  #ffa586;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
nav a:hover,
nav :active:hover{
    color: #efe5e5;
   text-shadow: 0 0 25px red,
                0 0 50px wheat;
}
.home{
    width:100%;
    min-height: 100vh;
    background: #DDD0C8;
    display: flex;
    align-items: center;
    gap: 7em;
    padding:30px 12% 0;
}
.home-content{
width: 800px;
}
.home-content h1{
    font-size: 40px;
    margin: 25px 0 3px;
    font-family: sans-serif;
}
.home-content h1 span{
    color: #0C1A1A;
    font-size: 60px;
}
.home-content p{
    font-size: 18px;
    margin: 25px 0 30px;
    text-align: left;
    font-family:Georgia, 'Times New Roman', Times, serif;
} 
.img-box img{

    border-radius:30px;
    margin-top: 100px;
    width: 200px;
    display: 1;
}
.img-box img:hover{
    background-image: url(image/download.jpeg);
    cursor: pointer;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: #217a7a;
    height: 10px;
   
}
::-webkit-scrollbar-track{
    background-color:#0C1A1A;
    width: 100px;
    
}
section{
    min-height: 86vh;
    display: flex;
    justify-content: center;
    background: rgb(241,241,241);
    font-size: 18px;
    color: black;
    font-weight: 70;
}
section{
    background:#DDD0C8 ;
    max-height: 70vh;
}
#education div{
    text-align: left;
    font-size: 18px;
    font-family: 'poppins';
    border-radius: 12px;
    margin-left: 10px;
    margin-top: 100px;
    width: 33%;
    padding-bottom: 40px;
    white-space: 10px;
    
}

#aboutme {
    max-height: 70vh;
}
#aboutme i{

    margin-top: 100px;
    padding: 10px;

}
#aboutme i span{
    margin: 70px;

}

.container{
    justify-content: center;
    padding:100px ;
}
#contact button{
    border: none;
    outline: none;
    height: 20px;
    padding: 15px ;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius:40px;
    margin-left: 10px;
    margin-top: 10px;
}
#contact button:hover{
    transform: scale(1.1);
}
.telegram,.instagram,.twitter,.git{
    background-size: cover;
}
 .telegram{background-image: url(image/Telegram\ icon\ _3.jpeg) ;}
.instagram{ background-image:url(image/instagram.jpeg) ;}
.twitter{background-image:url(image/twitter.jpeg) ;}
.git{background-image: url(image/GitHub.jpeg);}
